/* src/components/ui/card.css */
.glass-card {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  color: #000;
  border: 1px solid transparent;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.1)
    ) padding-box,
    linear-gradient(90deg, #00e6f6, #ff00d4) border-box;
}
  